{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "import"
    ],
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "import/prefer-default-export": "off",
        "no-new": "off",
        "@typescript-eslint/no-useless-constructor": "off",
        "@typescript-eslint/no-unused-expressions": "off",
        "max-len": "off"
    }
}
